/* ----Main Style ------*/
body {
    background-color: #1d1d1d;
    font-family: 'Noto Sans JP', sans-serif; 
    margin: 0;
}

.header {
    background: linear-gradient(to right, #8E2DE2, #4A00E0);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.84); 
    box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.84);
    position: relative;
    z-index: 2;
}

.header__h1 {
    color:#e0e0e0;
    font-family: 'Noto Sans JP', sans-serif; 
}

.header__flyer {
    background-color: #e0e0e0;
    height:8px;
    width: 100%;
    align-self: flex-end;
    margin: 0px;
    margin-bottom: -5px;
}

.main {
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    background-color: rgb(0, 189, 179);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__container {
    background-color: #1d1d1d;
    width: 450px;
    height: 700PX;
    border-radius: 20px;
    color: #ff71d0;
    box-shadow: black;
    padding: 20px;
    padding-top: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    font-size: 10pt;
}

.main__container__display {
    height: 270px;
    width: 270px;
    position: relative;
    border-top: 1px dashed #8E2DE2;
    border-bottom: 1px dashed #8E2DE2;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display--square {
    width: 200px;
    height: 200px;
    background: linear-gradient(45deg, #00C9FF 0%, #92FE9D 100%);
    border-radius: 2px;
}

.display--circle {
    width: 200px;
    height: 200px;
    background: radial-gradient(ellipse at bottom, #f8ff00 0%, #3ad59f 100%);
    border-radius: 100px;
}

.main__container--form {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.main__form--button {
    background-color: aqua;
    border: 0;
    height: 40px;
    width: 90px;
}

.main__form--button_2 {
    background-color: #8a1bcf;
    border: 0;
    height: 30px;
    color: #dfdfdf;
}

.main__form--input {
    background: transparent;
    border: none;
    height: 30px;
    outline: none;
    color: turquoise;
    border-radius: 5px;
    text-indent: 20px;
}

.main__form--input:focus {
    background-color: rgba(255, 255, 255, .1);
}

#main--form_sqr {
    position: absolute;
    opacity: 0;
    margin-top: 200px;
    transition: 350ms;
}

#main--form_crl {
   position: absolute;
   opacity: 0;
   margin-top: 200px;
   transition: 350ms;
}

#main--form_trg {
    position: absolute;
    opacity: 0;
    margin-top: 200px;
    transition: 350ms;
}

#main--form_pgn {
    position: absolute;
    opacity: 0;
    margin-top: 200px;
    transition: 350ms;
}

.container--parrafoInteractivo {
    color: #ff71d0;
}

.footer {
    display: flex;
    justify-content: center;
    color: #e0e0e0;
}