/* ----Main Style ------*/
body {
    background-color: #1d1d1d;
    font-family: 'Noto Sans JP', sans-serif; 
    margin: 0;
}

.header {
    background: linear-gradient(to right, #8E2DE2, #4A00E0);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__h1 {
    color:#e0e0e0;
    font-family: 'Noto Sans JP', sans-serif; 
}

.header__flyer {
    background-color: #e0e0e0;
    height:8px;
    width: 100%;
    align-self: flex-end;
    margin: 0px;
}

.main {
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    background-color: rgb(0, 189, 179);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__container {
    background-color: #1d1d1d;
    width: 450px;
    height: 700PX;
    border-radius: 20px;
    color: #ff71d0;
    box-shadow: black;
    padding: 20px;
    padding-top: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    font-size: 10pt;
}

.main__container--form {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.main__form--button {
    background-color: aqua;
    border: 0;
    height: 40px;
    width: 90px;
}

#main--form_sqr {
    position: absolute;
    opacity: 0;
    margin-top: 200px;
    transition: 500ms;
}

#main--form_crl {
   display: none;
   position: absolute;
   opacity: 0;
   margin-top: -300px;
   transition: 500ms;
}

#main--form_trg {
    position: absolute;
    opacity: 0;
    margin-top: 800px;
    transition: 1200ms;
}

.container--parrafoInteractivo {
    color: #ff71d0;
}

.footer {
    display: flex;
    justify-content: center;
    color: #e0e0e0;
}