/* ----Main Style ------*/
body {
    background-color: #1d1d1d;
    font-family: 'Noto Sans JP', sans-serif; 
    margin: 0;
}

/* ----Header Style ------*/
.header {
    background: linear-gradient(to right, #8E2DE2, #4A00E0);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.84); 
    box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.84);
    position: relative;
    z-index: 2;
}

.header__h1 {
    color:#e0e0e0;
    font-family: 'Noto Sans JP', sans-serif; 
}

.header__flyer {
    background-color: #e0e0e0;
    height:8px;
    width: 100%;
    align-self: flex-end;
    margin: 0px;
    margin-bottom: -5px;
}


/* ----Central Style ------*/

.main {
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    background-color: rgb(0, 189, 179);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ----Container Style ------*/
.main__container {
    background-color: #1d1d1d;
    width: 490px;
    height: 600PX;
    border-radius: 20px;
    color: #ff71d0;
    padding-bottom: 20px;
    padding-top: 30px;
    box-sizing: border-box;
    position: relative;
    font-size: 10pt;
}

.main__container__holder {
    width: 490px;
    height: 490PX;
    overflow: scroll;
    position: relative;
    margin: auto; 
}

.main__container__holder::-webkit-scrollbar-track {
    background: #1d1d1d;margin-right: 30px;
    
}

.main__container__holder::-webkit-scrollbar-thumb {
    background: #ffc038;
    margin-right: 30px;
}

.main__container__holder::-webkit-scrollbar {
    width:8px;
    opacity: .5;
}

.main__container__holder::-webkit-scrollbar:horizontal {
    display: none;
}

/* ----Figure Splash Display ------*/
.main__container__display {
    width: 270px;
    position: relative;
    border-top: 1px dashed #8E2DE2;
    border-bottom: 1px dashed #8E2DE2;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    position: relative;
    opacity: 0;
    height: 0;
    transition: 300ms;
}

.main__container__display p {
    align-self: flex-start;
}


/* ----Figure Splash Art ------*/
.display--square {
    width: 200px;
    height: 200px;
    position: absolute;
    background: linear-gradient(45deg, #00C9FF 0%, #92FE9D 100%);
    border-radius: 2px;
    margin-top: 25px;
    opacity: 0;
    margin-left: -600px;
    transform: 200ms;
}

.display--circle {
    width: 200px;
    height: 200px;
    position: absolute;
    background: radial-gradient(ellipse at bottom, #f8ff00 0%, #3ad59f 100%);
    border-radius: 100px;
    opacity: 0;
    margin-left: -600px;
    transform: 200ms;
}

.main__container--form {
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.main__form--button {
    background-color: aqua;
    border: 0;
    height: 40px;
    width: 90px;
}

.main__form--button_2 {
    background-color: #8a1bcf;
    border: 0;
    height: 30px;
    color: #dfdfdf;
}

.main__form--input {
    background: #363636;
    border: none;
    height: 30px;
    outline: none;
    color: turquoise;
    border-radius: 5px;
    text-indent: 20px;
}

.main__form--input:focus {
    background-color: rgba(255, 255, 255, .1);
}

.dataForm {
    width: 490px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    margin-top: 200px;
    transition: 350ms;
}

.dataForm__inputs {
    margin-top: 15px;
}


.container--parrafoInteractivo {
    color: #ff71d0;
}

.footer {
    display: flex;
    justify-content: center;
    color: #e0e0e0;
    height: 80px;
    position: relative;
}